*{
  margin:0;
  padding:0;
}

.html{
  font-family: verdana,"Helvetica Neue",Helvetica,Arial,sans-serif; 
  font-size: 14px;
}

.back{
background-image: url("./Images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
}


.alignCenter{
text-align: center;
}

.redColor{
color: red;
}

/* Design Of header */
.handleFlow{
flex-grow: 1;
}

.UserName {
padding: 10px 20px;
}

.headerIcon {
color: white;
}

.DropdownItem {
text-decoration: none;
}

.leftLoader {
margin: 27% 45%;    /*margin: 27% 45%;*/
}

.rightLoader{
margin: 40% 45%
}

.taskLoader{
margin: 30% 45%
}

.taskFormLoader{
width: 100px; 
height: 100px
;margin: 20%;
}

.approvalLoader{
margin: 17% 45%;
}

/* Style of Login Form */
.loginContainer{
padding: 20px;
width: 25%; 
margin: 80px auto;
}

/* Styling of home page */

.homeContainer{

width: 100%; 
height: 100%;
display: flex; 
flex-direction: column; 
justify-content: space-between;
position: absolute;
}

.downContainer{

width: 100%;
height: 100%;
display: flex;
flex-direction: row;
overflow: hidden;

}

/* Style of LeftNavbar Component */
.leftNavbar{
width: 15%;
height: 100%;
background-color:#8A2BE2;
color: white;


}
.leftItems {
text-decoration: none;
color: #ffff;
}

.dividingLine{
padding: 1px;
background-color: black;
}

/* Styling Of right Side For Client Page */
.rightSide{
width: 88%;
height: 100%;
margin-left: 1%;
/* padding: 5px; */
}

.ClientSubheading{
width: 100%;
height: 14%;
}

.clientContainer {
width: 100%;
height: 85%;
display: flex;
justify-content: space-between;
}

/* Styling Of subheading  */
.Subheading{
display: flex;
justify-content: space-between;
margin: 5px;
}


/* Styling of all client list */

/* .listContainer{
background:  #5067a5; 
height: 99.5% ; 
width: 59%; 
} */

.listContainer{
  background:   #FFFFFE; 
  height: 92.5% ; 
  width: 100%; 
  /* margin-left: 1%; */
  margin-right: 1%;
  margin-bottom: 3.5%;
  margin-top:1%;
}

.clientListContainer{
background:  #FFFFFE; 
height: 99.5% ; 
width: 100%; 
}


.listHeading {
background: #2c4e86;
height: 7.5% ;
text-align: center;
color: white;
padding-top: 5px;
}
.listHeadingClients {
background: #2c4e86;
height: 7.5% ;
text-align: center;
color: white;
padding-top: 5px;
display:flex;
align-items: center;
justify-content: center;
}

.listTableContainer {
  
  height: 100%;        
       /* height: 91.5%; */
  /* overflow-y: scroll; */
  
}

.MuiTableCell-head {
color: white;
}


/* slyling of clients tab */
.clienttab {
  background-color: white;            /* background-color: #5067a5;*/
  width: 75%;     /*  width: 40.8%; */
  height: 92.5%;
  margin-right: 1%;
  margin-bottom: 3.5%;
  margin-top:1%;
}

.tabs {
border-bottom: 1; 
border-color: divider; 
color: white; 
height: 9%; 
background:  #8A2BE2;

}

.tab{
height: 91%; 
overflow-y: scroll;
}


/* Styling Class of Infolist Page of clients */
.heading {
 font-weight: bolder; 
 font-Size: 18px; 
 margin: 10px;
}

.value {
  font-weight: bold; 
  font-Size: 16px; 
}

.dividerHeading {
background: #2c4e86;
padding: 6px; 
color: white; 
text-align: center;
}

/* Styling Of Form Display */

.formPaper {
  padding: 15px 5px; 
  width: 100%; 
  font-size: 12px;
}

.formDivider {
  background: #051547; 
  margin-top: 8px ;
  padding: 0.5px;
}

/* Styling of task management */
.tasksContainer {
  width: 88%;
  height: 100%;
}

.taskSubheading{
  width: 100%;
  height: 7%;
}

.taskContainer {
  width: 99%;
  margin: 0% .5%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #5067a5;
}

/* styling of tasks page */
.coloumContainer {
  display: flex; 
  height: 100%; 
  margin: 10px 130px; 
  color: white;
}

.Coloums{
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

/* Style for approval */
.ApprovalrightSide{
  width: 91%;
  height: 100%;
  padding: 5px;
}
.approvalSubheading{
  width: 100%;
  height: 7%;
}
.approvalList {
  width: 99%;
  /* height: 92%; */
  height: 92.5%;
  margin-right: 1%;
}
.approvallistConatiner{
  background: #5067a5; 
  overflow-y: scroll;
  width: 100%;
  height: 99.3% ; 

}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 350px;
  margin: 16% auto;
  height: 175px;
  max-height: 70vh;
  /* margin-top: calc(100vh - 85vh - 20px); */
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  padding-top: 5px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
 
  content: 'x';
  cursor: pointer;
  position: fixed;
  /* right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px); */
  background: #ededed;
  background: white;
  width: 25px;
  height: 25px;
  /* border-radius: 50%; */
  line-height: 20px;
  text-align: center;
  /* border: 1px solid #999; */
  font-size: 20px;
  margin-top: 0%;
  margin-left: 25%;
}